.fotoA {
	width: 250px;
	border-radius: 50%;
}
#fotoD {
	height: 90px;
	border-radius: 50%;
}
#fotoM {
	height: 90px;
	border-radius: 50%;
}

.card .card-action {
	padding: 16px;
}


.donata-hobiai {
	font-family: Arial;
	margin-top: 70px;
	padding: 5px;
	text-align: justify;
}

.card-image {
	padding: 10px;
}
