.fonas {
	background-image: url('Nuotraukos/fonoFotoDzukija.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.dzukija {
	height: 100px;
	margin-top: 20px;
}
#zemaitija {
	height: 90px;
}
#aukstaitija {
	height: 70px;
}
#suvalkija {
	height: 80px;
}
.card-image {
	margin-top: 60px;
}
#teksto-stiliai {
	padding: 30px;
}

.card .card-action {
	padding: 16px;
}