.Zemaitijos-Nuotrauka {
	width: 100%;
	height: 120px;
	margin: 30px;
}
#Mygtukas{
	margin: 20px;
	margin-top:58px;
}
.Suvalkija {
	width: 100%;
	height: 120px;
	margin: 30px;
}
.Aukstaitija {
	width: 100%;
	height: 120px;
	margin: 30px;
}

.Dzukija {
	width: 100%;
	height: 120px;
	margin: 30px;
}
#keliautoju-istorijos {
	padding-top: 60px;
}